petriCbsProject1/webApp/__pycache__
petriCbsProject1/db.sqlite3
petriCbsProject1/webApp/__pycache__/forms.cpython-311.pyc
petriCbsProject1/webApp/__pycache__/models.cpython-311.pyc
petriCbsProject1/webApp/__pycache__/urls.cpython-311.pyc
petriCbsProject1/webApp/__pycache__/views.cpython-311.pyc
